<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="momonyan.speedselector">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/sp_title"
        android:label="@string/app_name"
        android:roundIcon="@drawable/sp_title"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TimeAttackModeActivity"
            android:label="ゲーム画面(タイムモード)"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GameStandbyActivity"
            android:label="スタンバイ画面"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ScoreAttackModeActivity"
            android:label="ゲーム画面(ポイントモード)"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EndActivity"
            android:label="おわり"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReadMeActivity"
            android:label="説明書"
            android:screenOrientation="portrait" />
    </application>

</manifest>